@import '_variable.scss';

:root{
    accent-color: $middle;
    font-family: $font;
}

body{
    background: $fond;
    color: $dark;
    font-size: 17px;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid $middle;
    background: $fond;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    color: $middle;
}

/* Full-width inputs */
input[type=email], input[type=password],  input[type=tel], input[type=text], input[type=number], input[type=date], input[type=search]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $light;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: $middle;
    color: $fond;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: $fond;
    color: $middle;
    border: 1px solid $middle;
}
input[type=radio]{
    padding: 100px;
    input[type=radio]:checked {
        border: 20px solid red;
    }
}
input[type=button] {
    background-color: $fond;
    color: $middle;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid $middle;
    cursor: pointer;
    width: 100%;
}
// input[type=button]:hover {
//     background-color: $middle;
//     color: $fond;
//     border: 1px solid $middle;
// }
a { 
    color: $middle;
}
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $light;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $light;
    box-sizing: border-box;
}

