@import '_variable.scss';

.alerte {
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    justify-content: space-evenly;
    border: solid $middle;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: $light;
    color: $dark;
}

.toast {
    visibility: hidden;
}

.show {
    visibility: visible;
}

#error {
    color: red;
}
