@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Dancing+Script:wght@500;600&family=Merriweather+Sans:wght@300;400&family=Montserrat:wght@100;400;500&family=Nunito&display=swap');

$fond: #F7F1F0;
$light:  #C3A6A0;
$middle: #A15C38;
$dark: #262220;

$font: 'Catamaran', sans-serif;